:root {
  --primary-color: #212121;
  --accent-color: #2196f3;
  --background-grey: #757575;
  --text-darck: #000000;
  --background-white: #ffffff;
  --grey-portfolio: #f5f4fa;
  --grey-other: #2f303a;
  --button-hero: #188ce8;
  --button-hero-fon: 0px 4px 4px rgba(0, 0, 0, 0.15);
  --footer-accent: #c5c2c2;
  --icons-colorgrey: #afb1b8;
  --icons-background-color: #ffffff1a;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.overlay {
  max-width: 1600px;
  height: 400px;
  background-color: var(--grey-other);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/hero-mob@1x.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-mob@1x.jpg);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/hero-mob@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-mob@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/hero-tablet@1x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-tablet@1x.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/hero-tablet@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-tablet@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .overlay {
    height: 600px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/hero-desktop@1x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-desktop@1x.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/hero-tablet@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-tablet@2x.jpg);
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition-property: opacity, visibility;
  transition-property: opacity, visibility;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  visibility: visible;
  opacity: 1;
}
.backdrop--is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.menu-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-left: auto;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-button:hover, .menu-button:focus {
  fill: var(--accent-color);
}
@media screen and (min-width: 767px) {
  .menu-button {
    display: none;
  }
}

.menu-overley {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  background: var(--background-white);
}
@media screen and (min-width: 768px) {
  .menu-overley {
    display: none;
  }
}
.menu-overley.is-open {
  opacity: 1;
  pointer-events: initial;
  visibility: visible;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 40px 48px;
  background-color: var(--background-white);
  height: 100%;
}
.menu__mobile-list:first-child {
  margin-bottom: auto;
}
.menu__mobile-list:nth-child(2) {
  margin-bottom: auto;
}
.menu__mobile-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
  margin-top: 64px;
}
.menu__mobile-social-item:not(:last-child) .menu__mobile-social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.menu__button-cloused {
  position: absolute;
  top: 10px;
  right: 15px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__button-cloused:hover, .menu__button-cloused:focus {
  fill: var(--accent-color);
}
.menu__mobile-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #212121;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__mobile-link:hover, .menu__mobile-link:focus {
  color: var(--accent-color);
}
.menu__mobile-item {
  margin-bottom: 32px;
}
.menu__mobile-link-tel {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: #2196f3;
}
.menu__mobile-link-tel:hover, .menu__mobile-link-tel:focus {
  color: var(--accent-color);
}
.menu__mobile-item-contakt-tel {
  margin-top: auto;
}
.menu__mobile-link-mail {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: #757575;
}
.menu__mobile-link-mail:hover, .menu__mobile-link-mail:focus {
  color: #757575;
}
.menu__mobile-item-contakt {
  margin-top: 32px;
}
.menu__mobile-social-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: #2196f3;
}
.menu__mobile-social-link:hover, .menu__mobile-social-link:focus {
  color: #2196f3;
}
.menu__mobile-item .menu__mobile-link.current {
  color: var(--accent-color);
}

body {
  background-color: var(--background-white);
  color: var(--primary-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
li,
a {
  list-style: none;
  text-decoration: none;
  font-style: normal;
  padding: 0;
  margin: 0;
}

.button {
  background-color: var(--accent-color);
  color: var(--background-white);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  font-family: Roboto, sans-serif;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button__hero {
  display: inline-block;
  min-width: 200px;
  padding: 10px 32px;
  -webkit-transition-property: background-color, -webkit-box-shadow;
  transition-property: background-color, -webkit-box-shadow;
  transition-property: background-color, box-shadow;
  transition-property: background-color, box-shadow, -webkit-box-shadow;
}
.button__hero:hover, .button__hero:focus {
  background: var(--button-hero);
  -webkit-box-shadow: var(--button-hero-fon);
          box-shadow: var(--button-hero-fon);
}
.button__footer {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 28px;
  fill: var(--background-white);
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
}
@media screen and (max-width: 1199px) {
  .button__footer {
    margin-top: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .button__footer {
    margin-left: 12px;
  }
}
@media screen and (min-width: 1200px) {
  .button__footer {
    gap: 10px;
  }
}
.button__footer:hover, .button__footer:focus {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.container {
  width: 100%;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.logo {
  color: var(--accent-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  margin-top: 16px;
  margin-bottom: 16px;
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.2;
  }
}
.logo__header {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
@media screen and (min-width: 768px) {
  .logo__header {
    margin-right: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .logo__header {
    margin-right: 93px;
  }
}
.logo__black {
  color: var(--text-darck);
}
.logo__white {
  color: var(--background-white);
}

.portfolio__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px 8px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .portfolio__nav-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.portfolio__nav-item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 404 px;
}
.portfolio__nav-button {
  background-color: var(--grey-portfolio);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  border: none;
  cursor: pointer;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  display: inline-block;
  border-radius: 4px;
  -webkit-transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, box-shadow;
  transition-property: color, background-color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__nav-button:hover, .portfolio__nav-button:focus {
  background-color: var(--accent-color);
  color: var(--background-white);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.icons__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}
.icons__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.icons__link:hover, .icons__link:focus {
  background-color: var(--accent-color);
  color: var(--background-white);
}
.icons__socials {
  fill: currentColor;
}

.team-socials {
  color: var(--icons-colorgrey);
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
}

.footer-link {
  background-color: var(--icons-background-color);
  -webkit-transition-property: background-color;
  transition-property: background-color;
}

.footer-link:hover,
.footer-linkfocus {
  background-color: var(--accent-color);
}

.footer-icons__socials {
  fill: var(--background-white);
}

.footer-link:hover .footer-icons__socials {
  fill: var(--background-white);
}

.client__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  margin-top: 50px;
}
@media screen and (max-width: 479px) {
  .client__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.client__logo {
  width: 210px;
  height: 92px;
  border: 1px solid var(--icons-colorgrey);
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--icons-colorgrey);
  -webkit-transition-property: border-color, color;
  transition-property: border-color, color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .client__logo {
    width: 226px;
    height: 92px;
  }
}
@media screen and (min-width: 1200px) {
  .client__logo {
    width: 170px;
    height: 92px;
  }
}
.client__logo:hover, .client__logo:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}
.client__icon {
  fill: currentColor;
}

.feature__list {
  display: block;
}
@media screen and (min-width: 768px) {
  .feature__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .feature__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
  }
}
.feature__item {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}
@media screen and (max-width: 767px) {
  .feature__item {
    margin-top: 30px;
  }
  .feature__item:first-child {
    margin-top: 0;
  }
}
@media screen and (min-width: 768px) {
  .feature__item {
    -ms-flex-preferred-size: 354px;
        flex-basis: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .feature__item {
    -ms-flex-preferred-size: 270px;
        flex-basis: 270px;
  }
}
.feature__icons {
  content: "";
  height: 120px;
  background-color: var(--grey-portfolio);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.feature__svg {
  background-position: center;
}
.feature__up {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 0px;
}
@media screen and (max-width: 767px) {
  .feature__up {
    text-align: center;
  }
}
.feature__down {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  margin-top: 10px;
  margin-bottom: 0px;
  color: var(--background-grey);
}

.footer {
  background-color: var(--grey-other);
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer {
    text-align: left;
  }
}
.footer__location {
  display: block;
}
@media screen and (max-width: 1200px) {
  .footer__location {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .footer__location {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .footer__location {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
  }
}
@media screen and (max-width: 767px) {
  .footer__left {
    margin-bottom: 60px;
  }
}
.footer__address {
  font-style: normal;
  margin-top: 20px;
}
.footer__map-address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  -webkit-transition-property: color;
  transition-property: color;
  color: var(--background-white);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__map-address:hover, .footer__map-address:focus {
  color: var(--footer-accent);
}
.footer__contakt {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  margin-top: 9px;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__contakt:hover, .footer__contakt:focus {
  color: var(--background-white);
}
.footer__item {
  margin-top: 9px;
}
.footer__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--background-white);
}
@media screen and (min-width: 1200px) {
  .footer__form-line {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}
@media screen and (min-width: 768px) {
  .footer__right {
    margin-left: 165px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__right {
    margin-left: 70px;
  }
}
.footer__end {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1200px) {
  .footer__end {
    margin-left: 93px;
  }
}
.footer__input {
  padding: 15px 16px;
  width: auto;
  height: 50px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  border-radius: 4px;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: var(--background-white);
}
@media screen and (min-width: 480px) {
  .footer__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__input {
    width: 358px;
  }
}
@media screen and (min-width: 768px) {
  .footer__position {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.modal {
  position: absolute;
  max-width: 528px;
  height: 581px;
  padding: 40px;
  background-color: var(--background-white);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.modal__button {
  position: absolute;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border-color: rgba(0, 0, 0, 0.1);
  background-color: transparent;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__button:hover, .modal__button:focus {
  fill: var(--accent-color);
}
.modal__form {
  display: block;
}
.modal__title {
  display: block;
  margin-bottom: 12px;
  font-size: 20px;
  text-align: center;
}
.modal__box {
  margin-bottom: 20px;
}
.modal__group {
  display: block;
  position: relative;
  margin-bottom: 10px;
}
.modal__group:last-child {
  margin-bottom: 0;
}
.modal__lable {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14.06px;
  color: rgb(117, 117, 117);
}
.modal__input, .modal__input-textarea {
  width: 100%;
  padding: 10px;
  padding-left: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input-textarea:hover,
.modal .modal__input-textarea:focus {
  border-color: var(--accent-color);
}
.modal__input-textarea {
  resize: none;
  height: 120px;
  padding: 12px 16px;
}
.modal__icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
  cursor: pointer;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input:hover + .modal__icon, .modal__input:focus + .modal__icon {
  fill: var(--accent-color);
}
.modal__input:hover, .modal__input:focus {
  border-color: var(--accent-color);
}
.modal__icon:hover, .modal__icon:focus {
  fill: var(--accent-color);
}
.modal__agreement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 14px;
  gap: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: rgb(117, 117, 117);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.modal__checkbox:checked + .modal__icon-check .modal__square {
  opacity: 0;
}
.modal__check {
  opacity: 0;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__checkbox:checked + .modal__icon-check .modal__check {
  opacity: 1;
}
.modal__link {
  color: var(--accent-color);
}
.modal__form-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  padding: 10px 55px;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
}
.modal__form-button:hover, .modal__form-button:focus {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header {
  border-bottom: 1px solid hsl(0deg, 0%, 93%);
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header__list {
    display: block;
  }
}
.header__cotact-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header__cotact-block {
    gap: 10px;
    margin-left: 74px;
  }
}
@media screen and (min-width: 1200px) {
  .header__cotact-block {
    gap: 30px;
  }
}
.header__contakt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--background-grey);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  margin-right: 50px;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .header__contakt {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
@media screen and (max-width: 767px) {
  .header__contakt {
    display: none;
  }
}
.header__icon {
  display: inline-block;
  fill: currentColor;
  margin-right: 10px;
}
.header__contakt:last-child {
  margin-right: 0;
}
.header__contakt:hover, .header__contakt:focus {
  color: var(--accent-color);
}

.hero {
  text-align: center;
  padding: 118px 0;
}
@media screen and (min-width: 1200px) {
  .hero {
    font-size: 44px;
    line-height: 1.36;
    padding: 200px 0;
  }
}
.hero__title {
  color: var(--background-white);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 360px;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
  }
}

.nav {
  margin-right: auto;
}
@media screen and (max-width: 767px) {
  .nav {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .nav {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.nav__item .nav__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}
.nav__item:last-child {
  margin-right: 0;
}
.nav__link {
  color: var(--primary-color);
  padding-top: 32px;
  padding-bottom: 32px;
}
.nav__item .nav__link:hover, .nav__item .nav__link:focus {
  color: var(--accent-color);
}
.nav__item .nav__link.current {
  color: var(--accent-color);
}
.nav__line {
  position: relative;
}
.nav__line::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: var(--accent-color);
}

.portfolio__list {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px 24px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.portfolio__brends {
  font-weight: 700;
  font-size: 16px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--text-darck);
}
.portfolio__direccion {
  color: var(--background-grey);
  font-size: 18px;
  line-height: 1.9;
  margin-top: 4px;
}
.portfolio__title {
  border: 1px solid hsl(0deg, 0%, 93%);
  border-top: none;
  padding: 20px 24px;
}
.portfolio__element {
  position: relative;
  overflow: hidden;
}
.portfolio__pic {
  width: 450px;
}
@media screen and (min-width: 768px) {
  .portfolio__pic {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__pic {
    width: 370px;
  }
}
.portfolio__overlay {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(120%);
          transform: translateY(120%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__link:hover .portfolio__overlay, .portfolio__link:focus .portfolio__overlay {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}
.portfolio__overlay-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--background-white);
  padding: 63px 24px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.portfolio__link {
  display: block;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__link:hover, .portfolio__link:focus {
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.project-img.no-gap {
  display: block;
}

.team {
  background-color: var(--grey-portfolio);
}
.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  margin-top: 50px;
  text-align: center;
  letter-spacing: 0.03em;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.team__item {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--background-white);
}
.team__personal {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team__name {
  font-size: 16px;
  line-height: 1.19;
}
.team__jobs {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 16px;
  color: var(--background-grey);
  margin-top: 10px;
}
.team__img.no-gap {
  display: block;
}
@media screen and (min-width: 768px) {
  .team__img.no-gap {
    width: 354px;
    height: 374px;
  }
}
@media screen and (min-width: 1200px) {
  .team__img.no-gap {
    width: 270px;
    height: 260px;
  }
}

.what {
  padding-top: 0;
}
@media screen and (max-width: 1199px) {
  .what {
    display: none;
  }
}
.what__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-top: 50px;
  gap: 30px;
}
.what__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  background-color: rgba(47, 48, 58, 0.8);
  bottom: 0;
  width: 370px;
  height: 70px;
  font-weight: 700;
  line-height: 1.17;
  color: var(--background-white);
  text-transform: uppercase;
}

.title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .title {
    font-size: 36px;
  }
}/*# sourceMappingURL=main.css.map */