/* common */
/*
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}


:root {
  --primary-color: #212121;
  --accent-color: #2196f3;
  --background-grey: #757575;
  --text-darck: #000000;
  --background-white: #ffffff;
  --grey-portfolio: #f5f4fa;
  --grey-other: #2f303a;
  --button-hero: #188ce8;
  --button-hero-fon: 0px 4px 4px rgba(0, 0, 0, 0.15);
  --footer-accent: #c5c2c2;
  --icons-colorgrey: #afb1b8;
  --icons-background-color: #ffffff1a;
}

body {
  background-color: var(--background-white);
  color: var(--primary-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.visually__hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
li,
a {
  list-style: none;
  text-decoration: none;
  font-style: normal;
  padding: 0;
  margin: 0;
}
*/
/* header nav section */
/* 
.header {
  border-bottom: 1px solid hsl(0, 0%, 93%);
}

.header__container {
  display: flex;
  align-items: center;
}
/* 
.logo {
  color: var(--accent-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.logo__header {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-right: 93px;
}

.logo__black {
  color: var(--text-darck);
}

.header__list {
  display: flex;
  align-items: center;
  gap: 30px;
}

.header__contakt {
  display: flex;
  align-items: center;
  color: var(--background-grey);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  margin-right: 50px;
  padding-top: 32px;
  padding-bottom: 32px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header__icon {
  display: inline-block;
  fill: currentColor;
  margin-right: 10px;
}

.header__contakt:last-child {
  margin-right: 0;
}

.header__contakt:hover,
.header__contakt:focus {
  color: var(--accent-color);
}

.nav {
  margin-right: auto;
}

.nav__item .nav__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__list {
  display: flex;
  gap: 50px;
}

.nav__item:last-child {
  margin-right: 0;
}

.nav__link {
  color: var(--primary-color);
  padding-top: 32px;
  padding-bottom: 32px;
}

.nav__item .nav__link:hover,
.nav__item .nav__link:focus {
  color: var(--accent-color);
}

.nav__item .nav__link.current {
  color: var(--accent-color);
}

.nav__line {
  position: relative;
}

.nav__line::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: var(--accent-color);
}
*/
/* herro section */
/* 
.hero {
  background-color: var(--grey-other);
  text-align: center;
  padding: 200px 0;
}

.hero__title {
  color: var(--background-white);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
  width: 696px;
  margin-left: auto;
  margin-right: auto;
}

.button {
  background-color: var(--accent-color);
  color: var(--background-white);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  font-family: Roboto, sans-serif;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/* 
.hero__button {
  display: inline-block;
  min-width: 200px;
  padding: 10px 32px;
  transition-property: background-color, box-shadow;
}

.hero__button:hover,
.hero__button:focus {
  background: var(--button-hero);
  box-shadow: var(--button-hero-fon);
}

.overlay {
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero/hego-fon.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
*/
/* feature section */
/*
.feature__list {
  display: flex;
  gap: 30px;
}

.feature__item {
  flex-basis: 270px;
}

.feature__icons {
  content: '';
  height: 120px;
  background-color: var(--grey-portfolio);
  display: flex;
  justify-content: center;
  align-items: center;
}

.feature__svg {
  background-position: center;
}

.feature__up {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 0px;
}

.feature__down {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  margin-top: 10px;
  margin-bottom: 0px;
  color: var(--background-grey);
}
*/
/* what section */
/*
.what {
  padding-top: 0;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.what__list {
  display: flex;
  position: relative;
  margin-top: 50px;
  gap: 30px;
}

.what__text {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: rgba(47, 48, 58, 0.8);
  bottom: 0;
  width: 370px;
  height: 70px;
  font-weight: 700;
  line-height: 1.17;
  color: var(--background-white);
  text-transform: uppercase;
}
*/
/* team section*/
/*
.team {
  background-color: var(--grey-portfolio);
}

.team__list {
  display: flex;
  gap: 30px;
  margin-top: 50px;
  text-align: center;
  letter-spacing: 0.03em;
}

.team__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--background-white);
  height: 428px;
}

.team__personal {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__name {
  font-size: 16px;
  line-height: 1.19;
}

.team__jobs {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 16px;
  color: var(--background-grey);
  margin-top: 10px;
}

.team__img.no-gap {
  display: block;
}
*/
/* footer section*/
/*
.footer {
  background-color: var(--grey-other);
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo__white {
  color: var(--background-white);
}

.footer__address {
  font-style: normal;
  margin-top: 20px;
}

.footer__map-address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  transition-property: color;
  color: var(--background-white);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__map-address:hover,
.footer__map-address:focus {
  color: var(--footer-accent);
}

.footer__contakt {
  color: #ffffff99;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  margin-top: 9px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__contakt:hover,
.footer__contakt:focus {
  color: var(--background-white);
}

.footer__item {
  margin-top: 9px;
}

.footer__item:first-child {
  margin-top: 0px;
}

.footer__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--background-white);
}

.footer__position {
  display: flex;
  align-items: baseline;
}

.footer__right {
  margin-left: 70px;
}

.footer__end {
  margin-left: 93px;
}

.footer__input {
  padding: 15px 16px;
  width: 358px;
  height: 50px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  border-radius: 4px;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: var(--background-white);
}

.button__footer {
  display: inline-flex;
  align-items: center;
  margin-left: 12px;
  gap: 10px;
  padding: 10px 28px;
  fill: var(--background-white);
  transition-property: box-shadow;
}

.button__footer:hover,
.button__footer:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
*/
/* portfolio section */
/*
.portfolio__nav-list {
  display: flex;
  gap: 8px;
  justify-content: center;
}

.portfolio__nav-item {
  align-items: center;
  width: 404 px;
}

.portfolio__nav-button {
  background-color: var(--grey-portfolio);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  border: none;
  cursor: pointer;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  display: inline-block;
  border-radius: 4px;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__nav-button:hover,
.portfolio__nav-button:focus {
  background-color: var(--accent-color);
  color: var(--background-white);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio__list {
  margin-top: 50px;
  display: flex;
  gap: 20px 24px;
  flex-wrap: wrap;
}

.project-img.no-gap {
  display: block;
}

.portfolio__brends {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--text-darck);
}

.portfolio__direccion {
  color: var(--background-grey);
  font-size: 16px;
  line-height: 1.9;
  margin-top: 4px;
}

.portfolio__title {
  border: 1px solid hsl(0, 0%, 93%);
  border-top: none;
  padding: 20px 24px;
}

.portfolio__element {
  position: relative;
  overflow: hidden;
}

.portfolio__overlay {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgb(33, 150, 243, 90%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__link:hover .portfolio__overlay,
.portfolio__link:focus .portfolio__overlay {
  transform: translateY(0%);
}

.portfolio__overlay-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--background-white);
  padding: 63px 24px;
  user-select: none;
}

.portfolio__link {
  display: block;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__link:hover,
.portfolio__link:focus {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
*/
/* socials icon */
/*
.icons__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.team-socials {
  color: var(--icons-colorgrey);
  transition-property: background-color, color;
}

.icons__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icons__link:hover,
.icons__link:focus {
  background-color: var(--accent-color);
  color: var(--background-white);
}

.icons__socials {
  fill: currentColor;
}

.footer-link {
  background-color: var(--icons-background-color);
  transition-property: background-color;
}

.footer-link:hover,
.footer-linkfocus {
  background-color: var(--accent-color);
}

.footer-icons__socials {
  fill: var(--background-white);
}

.footer-link:hover .footer-icons__socials {
  fill: var(--background-white);
}
*/
/* client icon section */
/*
.client__list {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: 50px;
}

.client__logo {
  width: 170px;
  height: 92px;
  border: 1px solid var(--icons-colorgrey);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--icons-colorgrey);
  transition-property: border-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client__logo:hover,
.client__logo:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

.client__icon {
  fill: currentColor;
}
*/
/* modal window section */
/*
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition-property: opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  visibility: visible;
  opacity: 1;
}
.backdrop--is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
*/
/*
.modal {
  position: absolute;
  width: 528px;
  height: 581px;
  padding: 40px;
  background-color: var(--background-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal__button {
  position: absolute;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border-color: rgba(0, 0, 0, 0.1);
  background-color: transparent;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button:hover,
.modal__button:focus {
  fill: var(--accent-color);
}

.modal__form {
  display: block;
}

.modal__title {
  display: block;
  margin-bottom: 12px;
  font-size: 20px;
  text-align: center;
}

.modal__box {
  margin-bottom: 20px;
}

.modal__group {
  display: block;
  position: relative;
  margin-bottom: 10px;
}

.modal__group:last-child {
  margin-bottom: 0;
}

.modal__lable {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14.06px;
  color: rgba(117, 117, 117, 1);
}

.modal__input,
.modal__input-textarea {
  width: 100%;
  padding: 10px;
  padding-left: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__input-textarea:hover,
.modal__input-textarea:focus {
  border-color: var(--accent-color);
}

.modal__input-textarea {
  resize: none;
  height: 120px;
  padding: 12px 16px;
}

.modal__icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
  cursor: pointer;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__input:hover + .modal__icon,
.modal__input:focus + .modal__icon {
  fill: var(--accent-color);
}

.modal__input:hover,
.modal__input:focus {
  border-color: var(--accent-color);
}

.modal__icon:hover,
.modal__icon:focus {
  fill: var(--accent-color);
}

.modal__agreement {
  display: flex;
  align-items: center;
  padding-left: 14px;
  gap: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(117, 117, 117, 1);
  user-select: none;
}

.modal__checkbox:checked + .modal__icon-check .modal__square {
  opacity: 0;
}

.modal__check {
  opacity: 0;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__checkbox:checked + .modal__icon-check .modal__check {
  opacity: 1;
}

.modal__link {
  color: var(--accent-color);
}

.modal__form-button {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  padding: 10px 55px;
  transition-property: box-shadow;
}

.modal__form-button:hover,
.modal__form-button:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
*/