:root {
  --primary-color: #212121;
  --accent-color: #2196f3;
  --background-grey: #757575;
  --text-darck: #000000;
  --background-white: #ffffff;
  --grey-portfolio: #f5f4fa;
  --grey-other: #2f303a;
  --button-hero: #188ce8;
  --button-hero-fon: 0px 4px 4px rgba(0, 0, 0, 0.15);
  --footer-accent: #c5c2c2;
  --icons-colorgrey: #afb1b8;
  --icons-background-color: #ffffff1a;
}
