.hero {
  text-align: center;
  padding: 118px 0;

  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;
    padding: 200px 0;
  }

  &__title {
    color: var(--background-white);
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    max-width: 360px;

    @media screen and (min-width: 1200px) {
      font-size: 44px;
      line-height: 1.36;
      max-width: 696px;
    }
  }
}
