.team {
  background-color: var(--grey-portfolio);

  &__list {
    display: flex;
    gap: 30px;
    margin-top: 50px;
    text-align: center;
    letter-spacing: 0.03em;
    flex-wrap: wrap;
  }

  &__item {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--background-white);
    
  }

  &__personal {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  &__name {
    font-size: 16px;
    line-height: 1.19;
  }

  &__jobs {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    margin-bottom: 16px;
    color: var(--background-grey);
    margin-top: 10px;
  }

  &__img.no-gap {
    display: block;
height: 460px;
width: 450px;
    

    @media screen and (min-width: 768px) {
      width: 354px;
height: 374px;
    }

    @media screen and (min-width: 1200px) {
      width: 270px;
height: 260px;
    }
  }
}
